//  RainbowVIs
script(src='/javascripts/rainbowvis.js')
//    Utils
script(src='/javascripts/utils.js')
//    Leaflet
script(src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin="")
//    Jquery
script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    //    Popper
//    Materialize
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
//    D3 JS
script(src="https://d3js.org/d3.v5.min.js")
//    Leaflet Hotline
script(src="/javascripts/leaflet.hotline.min.js")
//    Map
script(src="/javascripts/map.js")