extends layout
block links
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")

mixin week_tabs(weeks)
    each week in weeks
        div.chip=week

block content
    div#helper.available_weeks.hide
        each week in available_weeks
            pre=week
    div#interface.row
        div.col.s2
            div#control_panel
                div#density_control
                    h5 Density
                    div.preloader.progress.blue.ligthen-4
                        div.indeterminate.blue.darken-4
                div#trucks_control
                    h5 Truck Routes
                    div.preloader.progress.blue.ligthen-4
                        div.indeterminate.blue.darken-4
                div#analysis_control
                    h5 Analysis
                    div.preloader.progress.blue.ligthen-4
                        div.indeterminate.blue.darken-4
        div.col.s10
            div#map

    div#graphs.row

block scripts
    include dependency_scripts
    script(src='/javascripts/clientSocketIO.js')
    script(src='/javascripts/densityMapInteraction.js')
    script(src='/javascripts/trucksMapInteraction.js')
    script(src='/javascripts/interaction.js')
