extends layout
block links
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

mixin week_dropdown(weeks)
    div.dropdown
        button#week_selection.btn.btn-secondary.dropdown-toggle.disabled(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Select week
        div.dropdown-menu(aria-labelledby="week_selection")
            each file_name in weeks
                a.dropdown-item(href="javascript:void(0)" value=file_name)=file_name

block content
    div#console.show

    div#density_map_area.row
        div#density_map_info.col-md-9
            h1 Density Map
        div#density_map_controls.col
            +week_dropdown(files)
    div.row
        div.col
            div#density_map
    div.horizontal_line
    div#trucks_map_area.row
        div#trucks_map_info.col-md-9
            h1 Trucks Map
        div#trucks_map_controls.col
            +week_dropdown(files)
    div.row
        div#trucks_days_controls.col-8.offset-2
            ul(class="nav nav-pills mb-3" id="pills-tab" role="tablist")
                h5 Select Week First
    div.row
        div.col
            div#trucks_map
    div.horizontal_line
    div#trucks_graph_area.row
        div#trucks_graph_info.col-md-9
            h1 Overall Trucks Graph
    div.row#trucks_graphs
        div.col
            div.cans_graph
        div.col
            div.houses_graph
        div.col
            div.hours_graph
block scripts
    include dependency_scripts
    script(src='/javascripts/clientSocketIO.js')
    script(src='/javascripts/densityMapInteraction.js')
    script(src='/javascripts/trucksMapInteraction.js')