extends layout
block links
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    style.
        input.leaflet-control-layers-selector[type="checkbox"]:not(:checked), input.leaflet-control-layers-selector[type="checkbox"]:checked {
            opacity: 1;
            position: relative;
        }

mixin week_tabs(weeks)
    each week in weeks
        div.chip=week

block content
    div#helper.available_weeks.hide
        each week in available_weeks
            pre=week
    div#interface.row
        div.col.s2
            div#control_panel
                div#density_control
                    h5 Density
                    div.preloader.progress.blue.ligthen-4
                        div.indeterminate.blue.darken-4
                div#trucks_control
                    h5 Truck Routes
                    div.preloader.progress.blue.ligthen-4
                        div.indeterminate.blue.darken-4
        div.col.s10
            div#map
    div.divider
    div#graphs.row
        div#analysis_control.center
            h5 Analysis
            div.divider
            div.analysis_section.hide
                div.row
                    h5.left Overall Truck Performance
                div.overall_analysis.row
                    div.col.m6
                        div.divider
                        div.heading
                            h6.center Trucks by cans picked up
                        div.cans_graph
                    div.col.m6
                        div.divider
                        div.heading
                            h6.center Trucks by customers serviced
                        div.stops_graph
                    div.col.m6
                        div.divider
                        div.heading Trucks by hours worked
                            h6.center
                        div.hours_graph
                    div.col.m6
                        div.divider
                        div.heading
                            h6.center Truck performance (combination of cans, stops & hours)
                        div.pie_chart
                    div.col.m6
                        div.divider
                        div.heading
                            h6.center Customer Consistency
                        div.line-chart
                    div.col.m6
                        div.divider
                        div.col.m6.offset-m3.customer_consistency
                            div.card-panel.grey.ligthen-2.white.text
                                h5.number
                                h6.content(style="text-transform:uppercase") consistent customer in all weeks
                div.divider
                div.row
                    h5.left Individual Truck Performance

            div.analysis_start_control.col-3
                button.btn.btn-flat.disabled.blue.ligthen-4 Start Analysis

block scripts
    include dependency_scripts
    script(src='/javascripts/densityMapInteraction.js')
    script(src='/javascripts/trucksMapInteraction.js')
    script(src='/javascripts/analysisInteraction.js')
    script(src='/javascripts/interaction.js')
