body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* The console - position it at the bottom and in the middle of the screen */
div#console {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: black; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2%; /* Rounded borders */
    position: fixed; /* Sit on top of the screen */
    z-index: 1100;
    top: 3em;
    right: 2em;
    width: 25%;
}

/* Show the console when clicking on a button (class added with JavaScript) */
div#console.show {
    visibility: visible; /* Show the console */
    /* Add animation: Take 0.5 seconds to fade in and out the console.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

div#console div.console_header {
    text-align: left;
    padding: .25rem .75rem;
    color: #6c757d;
    background-color: white;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-radius: 2%;
}

div#console div.console_header div.message_color {
    width: 1em;
    height: 1em;
    border-radius: 30%;
}

div#console div.console_body {
    background-color: #e1e2e2; /* Black background color */
    padding: 0.1em 0;
}

/* Animations to fade the console in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

div#density_map_area, div#trucks_map_area {
    width: 100%;
}

div#density_map_info, div#trucks_map_info {
    width: 80%;
}

div#density_map_controls, div#trucks_map_controls {
    width: 20%;
}

div#density_map, div#trucks_map {
    height: 600px;
}

p#console {
    padding-left: 5px;
    color: white;
}

.d3-line {
    fill: none;
    stroke: #e41a1c;
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #377eb8;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.legend {
    line-height: 18px;
    color: #555;
    background-color: white;
    padding: .5em;
    border-radius: 3%;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

div#trucks_graphs .cans_graph{
    fill: steelblue;
}

div#trucks_graphs .houses_graph {
    fill: #fc8d59;
}
div#trucks_graphs .hours_graph {
    fill: #f768a1;
}

div.horizontal_line {
    border-bottom: 1px solid black;
    margin: 2em 0;
}