body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#view {
    width: 100%;
}

div#map {
    width: 80%;
}

div#control {
    width: 20%;
}

div#mapid {
    height: 600px;
}
